@model PaintsAndTales.Model.Entities.Product;
@{
	var image = Model.ProductImages.First(a => a.IsTitleImage);
}

<div class="col-6 col-md-4 col-lg-3">
	<div class="tt-product thumbprod-center" id="product-42">
		<div class="tt-image-box">
			<a href="@Url.Action("Product","Product", new {id = Model.Id})">
				<span class="tt-img"><img src="~/catalog/view/theme/wokiee/img/loader.svg" data-src="@Url.Action("Show","Home", new {name = image.FileName, extension = image.FileExtension})" alt="@Model.Name"></span>
			</a>
		</div>
		<div class="tt-description">
			<h2 class="tt-title"><a href="@Url.Action("Product","Product", new {id = Model.Id})">@Model.Name</a></h2>
			@if(Model.Prices != null && Model.Prices.Any())
			{			
				<div class="tt-price">
					₽@Model.Prices.Min(a => a.Value)
				</div>
			}
			<div class="tt-product-inside-hover">
				<div class="tt-row-btn">
					<a onclick="cart.add('42');" class="tt-btn-addtocart thumbprod-button-bg">В Корзину</a>
				</div>
			</div>
		</div>
	</div>
</div>