@model ProductGroupsViewModel;
@{
	ViewData["Title"] = "Магазин";
}

<div class="container-indent">
	<div class="container container-fluid-custom-mobile-padding">
		<div class="row">
			<div class="col-lg-3 leftColumn aside " id="column-left">
				<div class="tt-btn-col-close">
					<a href="#">Close</a>
				</div>
				<div class="tt-collapse open tt-filter-detach-option">
					<div class="tt-collapse-content" style="">
						<div class="filters-mobile">
							<div class="filters-row-select">
							</div>
						</div>
					</div>
				</div>
				<div class="box mfilter-box mfilter-box-32 mfilter-column_left mfilter-direction-ltr" id="mfilter-box-32">
					<h3 class="box-heading">Категории</h3>
					<div class="box-content mfilter-content">
						<div class="d-flex flex-column bd-highlight mb-3">
							<div class="p-2 bd-highlight">
								<a class="btn nav-btn @(Model.CurrentCategoryId == null ? "active-nav-link": "inactive-nav-link")" href="@Url.Action("Shop","Shop")">ВСЕ ТОВАРЫ</a>
							</div>
							@foreach(var category in Model.Categories)
							{
								<div class="p-2 bd-highlight">
									<a class="btn nav-btn  @(Model.CurrentCategoryId == category.Id ? "active-nav-link": "inactive-nav-link")" href="@Url.Action("Shop","Shop", new {categoryId = category.Id})">@category.Name</a>
								</div>
							}
						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-9">
				<div class="row">
					<div class="col-lg-12 center-column" id="content">
						<div id="mfilter-content-container">
							<div class="tt-filters-options ">
								<h1 class="tt-title">
									@(Model.CurrentCategoryId == null ? "Все товары" : Model.Categories.First(a=>a.Id == Model.CurrentCategoryId).Name)
								</h1>
								<div class="tt-btn-toggle">
									<a href="#">ФИЛЬТРЫ</a>
								</div>
							</div>
							<div class="tt-product-listing row">
								@foreach (var product in Model.Products)
								{
									@await Html.PartialAsync("~/Views/Home/ProductCard.cshtml", product)
								}
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
			</div>
		</div>
	</div>
</div>
<style>
	.nav-btn {
		width: 100%;
		color: white !important;
	}

	.active-nav-link {
		background: #2267d8;
		cursor: default !important;
	}

	.inactive-nav-link {
		background: #c0cce2;
		cursor: none;
	}
</style>
